body {
  font-family: "Open Sans", sans-serif;
}
.primary-color{
   color: #ff0000;
}
.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-primary {
  background-color: #f06705d7;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  padding: 15px 35px;
  border: 0px;
  border-radius: 5px;
}
.banner-content{
  max-width: 550px;
}
.banner .profile_pic{
  width: 500px;
  height: 600px;
}
.banner-greeting{
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
  font-weight: 600;
}
.banner-des{
  color: #757575;
}
.header{
   background-color: #FFD4CF;
   padding: 0px;
}
.banner-content{
    padding-top: 100px 0px ;
}