body {
  font-family: "Open Sans", sans-serif;
}
.primary-color{
   color: #ff0000;
}
/* banner styles */
.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-primary {
  border-radius: 8px;
  background: #E55473;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 35px;
  border: 0px;
}
.banner-content{
  max-width: 550px;
}
.banner .profile_pic{
  width: 500px;
  height: 600px;
}
.banner-greeting{
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
  font-weight: 600;
}
.banner-des{
  color: #757575;
}
.header{
   background-color: #E554731A;
   padding: 0px;
}
.banner-content{
    padding-top: 100px 0px ;
}
/* hot deal section */
.hot-deal{
  display: flex;
  padding: 50px;
  text-align: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);

}
.hot-deal-left{
  width: 50%;
  align-items: center;
  text-align: center;
}
.hot-deal-title{
color: #272727;
font-size: 25px;
font-weight: 700;
}
.hot-deal-des{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.hot-deal-right{
  width: 50%;
}
.hot-deal-right >img{
width: 318px;
height: 420px;
flex-shrink: 0;
padding-left: 100px;
}
.off{
  color: #E55473;
}
/* Instagram section styles */
.instagram{
  background: #FFF;
  width: 100%;
  margin-bottom: 0px;
}

.insta-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 50px;
margin-bottom: 5px;
}
.insta-des{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 0px auto;
width: 594px;
}
.insta-img{
  width: 100%;
  display: flex;
  /* padding: 0 150px; */
  padding: 0 110px;
}
.insta-img img{
 margin-top: 20px;
 margin-right: 20px;
}
/* #insta-img-first{
  margin-right: 20px;
} */
.insta-banner{
  width: 100%;
  margin-top: 100px;
  border-radius: 8px;
  padding: 0 110px;
}
.insta-banner img{
  position: relative;
}
.insta-banner-deals{
  position: relative;
  bottom: 350px;
  right: 200px;
}
.insta-banner-content{
  position: relative;
  bottom: 350px;
  left: 250px;
}
.insta-banner-deals h3{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 0px;

}
.insta-banner-deals h6{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin-top: 10px;
line-height: 30px;
}
.insta-banner-content input{
  border-radius: 8px;
  background: #FFF;
  width: 700px;
  padding: 10px;
  height: 40px;
  border: none;
}

/* footer section styles */
.footer{
  padding: 100px;
  background: #111010;
  text-align: center;
  margin-top: -130px;
}
.flower{
  color: #E55473;
}
.footer h3{
color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 5px;
}
.footer-des{
color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 0px auto;
width: 594px;
}
.copy-right{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
}